<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

Exercise 1 (Celcius to Farenheit) ☻

You are provided with the following list of temperatures in Celsius. 

Write a quick Python snippet that converts each temperature to Fahrenheit and prints both temperatures.

In [9]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

#Temperature in degrees Fahrenheit (°F) = (Temperature in degrees Celsius (°C) * 9/5) + 32.

for x in temperatures_celsius:
    fahrenheit = (x * 9/5) + 32
    print(f'{x} °C is {fahrenheit} °F')

0 °C is 32.0 °F
5 °C is 41.0 °F
10 °C is 50.0 °F
15 °C is 59.0 °F
20 °C is 68.0 °F
25 °C is 77.0 °F
30 °C is 86.0 °F
35 °C is 95.0 °F
40 °C is 104.0 °F
45 °C is 113.0 °F
50 °C is 122.0 °F

In [1]:
#Is there a better way to name the elements that you are iterating through instead of x such that it is more informative of what they represent? 
#Remember to cultivate this good habit as we are writing programmes for humans.

temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

for temp_celsius in temperatures_celsius:
    fahrenheit = (temp_celsius * 9/5) + 32
    print(f'{temp_celsius} °C is {fahrenheit} °F')

0 °C is 32.0 °F
5 °C is 41.0 °F
10 °C is 50.0 °F
15 °C is 59.0 °F
20 °C is 68.0 °F
25 °C is 77.0 °F
30 °C is 86.0 °F
35 °C is 95.0 °F
40 °C is 104.0 °F
45 °C is 113.0 °F
50 °C is 122.0 °F

Exercise 2 (Multiplication table) ☻

In [14]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3

B1	B2	B3

C1	C2	C3

Write a Python snippet that prints a multiplication table (up to 5) for numbers 1 through 5 using nested for loops. 

The output should be formatted as shown below:

1 : 1   2   3   4   5   
2 : 2   4   6   8   10  
3 : 3   6   9   12  15  
4 : 4   8   12  16  20  
5 : 5   10  15  20  25

In [80]:
for title in range (1,6):
    print(f'{title}   :',end='\t')
    for val in range (1,6):
        ans = title * val
        print(f'{ans}',end='\t')
    print('\n')

1   :	1	2	3	4	5

2   :	2	4	6	8	10

3   :	3	6	9	12	15

4   :	4	8	12	16	20

5   :	5	10	15	20	25

In [25]:
#Good attempt! Notice your output is rather different from the expected output on the SP2273 website. Perhaps you might want to consider these points and revise accordingly:

    #How can you change line 2 such that the spacing around the colon is what you see in the expected output?
        #Add 2 spaces in the code after the :
    #How can you change line 2 such that it allows print to continue in the same line without adding tab?
        #Remove the \t and just put end=''
    #How can you change the formatting of line 5 such that the number of characters between each value is fixed?
        #can specify the number of spacing using :5 after the ans
        #\t has to be removed since we are now using specific number of spaces rather than tab
    #Do you need to print a new line after each number?
        #No, can just use print()

for title in range(1, 6):
    print(f'{title:<2} :  ', end='')
    for val in range(1, 6):
        ans = title * val
        print(f'{ans:<5}', end='')
    print()

#Using :<2, aka left justify with 2 spaces allows the double digits and single digits number to be aligned according to the example given in sp2273 website

1  :  1    2    3    4    5
2  :  2    4    6    8    10
3  :  3    6    9    12   15
4  :  4    8    12   16   20
5  :  5    10   15   20   25